<div class="bg-white rounded shadow-sm p-6">
    <h1 class="text-lg mb-5 font-bold">Proyek : Bendungan Batu Tegi</h1>
  <form action="">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div id="periode" class="flex flex-col">
            <label for="periode" class="text-gray-700 text-sm font-medium mb-2">
                Periode
            </label>
            <input type="text" name="periode" id="periode-input" class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-400 outline-none">
        </div>
        <div id="balai" class="flex flex-col">
            <label for="balai" class="text-gray-700 text-sm font-medium mb-2">
                Balai
            </label>
            <select name="balai" id="balai-select" class="w-full border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none px-4 py-2">
                <option value="">Pilih Balai</option>
                <option value="balai1">Balai 1</option>
                <option value="balai2">Balai 2</option>
                <option value="balai3">Balai 3</option>
            </select>
        </div>
        <div id="nama-proyek" class="flex flex-col">
          <label for="nama-proyek" class="text-gray-700 text-sm font-medium mb-2">
              Nama Proyek
          </label>
          <input type="text" name="nama-proyek" id="nama-proyek-input" class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-400 outline-none" />
        </div>
        <div id="kegiatan" class="flex flex-col">
            <label for="kegiatan" class="text-gray-700 text-sm font-medium mb-2">
                Kegiatan
            </label>
            <select name="kegiatan" id="kegiatan-select" class="w-full border rounded-lg focus:ring-2 focus:ring-blue-400 outline-none px-4 py-2">
                <option value="">Pilih Kegiatan</option>
                <option value="kegiatan1">Kegiatan 1</option>
                <option value="kegiatan2">Kegiatan 2</option>
                <option value="kegiatan3">Kegiatan 3</option>
            </select>
        </div>
    </div>
    
    <!-- Container untuk form dinamis -->
    <div id="dynamic-form-container" class="mt-6"></div>
    <button type="submit" class="bg-indigo-600 text-white px-6 py-2 mt-6 rounded-lg font-medium hover:bg-indigo-700 transition">Submit</button>
  </form>
</div>
