<nav class="space-y-2">
            <a
              href="#" data-page="overview"
              class="nav-item active flex items-center px-4 py-3 rounded-lg"
            >
              <i class="fas fa-home mr-3"></i>
              <span>Overview</span>
            </a>
            <a
              href="#" data-page="form-profile"
              class="nav-item flex items-center px-4 py-3 rounded-lg"
            >
              <i class="fas fa-user mr-3"></i>
              <span>Profile</span>
            </a>
            <a
              href="#" data-page="activity"
              class="nav-item flex items-center px-4 py-3 rounded-lg"
            >
              <i class="fas fa-chart-line mr-3"></i>
              <span>Activity</span>
            </a>
            <a
              href="#" data-page="perencanaan"
              class="nav-item flex items-center px-4 py-3 rounded-lg"
            >
              <i class="fas fa-spinner mr-3"></i>
              <span>Perencanaan</span>
            </a>
          </nav>

